@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2980b9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoWrapper {
  text-align: center;
  margin-top: 5rem;
  padding: 2rem;
  background: #34495e;
  border-radius: 0.5rem;
}

h1.title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1.2rem;
}

input.todo_input {
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}

button.todo_btn {
  padding: 0.5rem 1rem;
  background: #2980b9;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.2s linear ease;
}

button.todo_btn:hover {
  background: #064d7b;
}

.todo {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2980b9;
  padding: 0.5rem 0.7rem;
  color: #fff;
}

.todo_name {
  cursor: pointer;
}

.todo_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
}

i.fa-solid.fa-pen-to-square:hover {
  color: #09d109;
}

i.fa-solid.fa-trash:hover {
  color: #a90e0e;
}

.completed {
  text-decoration: line-through !important;
}
